{% extends 'sitebase.html' %}
{% load static %}
{% block header %}
Welcome
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card" style="margin:5px">
            <div class="card-body text-center" style="background-color:white">
                <div class=" card-title text-center text-dark"><b>Gift Card (Basic)</b></div>

                <img src="{% static 'img/card1.jpg' %}" alt="" height="100px" width="auto" style="margin-bottom:20px">
                <p class="card-text small fw-bold text-danger">
                    Costs N6,000. with redeem value of 5,000
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="margin:5px">
            <div class="card-body text-center" style="background-color:white">
                <div class=" card-title text-center text-dark"><b>Gift Card (Knight)</b></div>
                <img src="{% static 'img/card2.jpeg' %}" alt="" height="100px" width="auto" style="margin-bottom:20px">
                <p class="card-text small fw-bold text-danger">
                    Costs N11,000. with redeem value of 10,000
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="margin:5px">
            <div class="card-body text-center" style="background-color:white">
                <div class=" card-title text-center text-dark"><b>Gift Card (King)</b></div>
                <img src="{% static 'img/card3.jpg' %}" alt="" height="100px" width="auto" style="margin-bottom:20px">
                <p class="card-text small fw-bold text-danger">
                    Costs N21,500. with redeem value of 20,000
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="margin:5px">
            <div class="card-body" style="background-color:#9EC">
                <div class="card-title text-center text-info"><b>Appreciation!!!</b></div>
                <p class="card-text" style="text-align:justify">
                    Fulfill the wishes of your family members and loved ones during celebration and festivities. Gifts are ways to appreciate
                    and show gratitudes.
                </p>
                <p class="card-text" style="text-align:justify">
                    <b>Even if it is just for being who they are!</b>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="margin:5px">
            <div class="card-body" style="background-color:#9EC">
                <div class="card-title text-center text-danger"><b>Birthday!!!</b></div>
                <p class="card-text" style="text-align:justify">
                    Fulfill the wishes of your family members and loved ones during celebration and festivities. Gifts are ways to appreciate
                    and show gratitudes.
                </p>
                <p class="card-text" style="text-align:justify">
                    <b>Even if it is just for being who they are!</b>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="margin:5px">
            <div class="card-body" style="background-color:#9EC">
                <div class="card-title text-center text-success"><b>Christmas!!!</b></div>
                <p class="card-text" style="text-align:justify">
                    Fulfill the wishes of your family members and loved ones during celebration and festivities. Gifts are ways to appreciate
                    and show gratitudes.
                </p>
                <p class="card-text" style="text-align:justify">
                    <b>Even if it is just for being who they are!</b>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="margin:5px">
            <div class="card-body" style="background-color:#9EC">
                <div class="card-title text-center text-primary"><b>Wedding!!!</b></div>
                <p class="card-text" style="text-align:justify">
                    Fulfill the wishes of your family members and loved ones during celebration and festivities. Gifts are ways to appreciate
                    and show gratitudes.
                </p>
                <p class="card-text" style="text-align:justify">
                    <b>Even if it is just for being who they are!</b>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="margin:5px">
            <div class="card-body" style="background-color:#9EC">
                <div class="card-title text-center text-secondary"><b>Anniversary!!!</b></div>
                <p class="card-text" style="text-align:justify">
                    Fulfill the wishes of your family members and loved ones during celebration and festivities. Gifts are ways to appreciate
                    and show gratitudes.
                </p>
                <p class="card-text" style="text-align:justify">
                    <b>Even if it is just for being who they are!</b>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="margin:5px">
            <div class="card-body" style="background-color:#9EC">
                <div class="card-title text-center text-warning"><b>Festival!!!</b></div>
                <p class="card-text" style="text-align:justify">
                    Fulfill the wishes of your family members and loved ones during celebration and festivities. Gifts are ways to appreciate
                    and show gratitudes.
                </p>
                <p class="card-text" style="text-align:justify">
                    <b>Even if it is just for being who they are!</b>
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}