{% extends 'sitebase.html'%}
{% block header %}
Our Partners
{% endblock %}

{% block content %}
<div class="container">
    
    <p class="card-text">
        Our partners have outlets throughout Nigeria where our gift cards are acceptable as a mean of payment
    </p>
    <p class="card-text">
        The businesses of our partners varies and they include but not limited to:
        <ul class="list-group">
           <li class="list-group-item">Restaurants</li> 
           <li class="list-group-item">Filling Stations</li> 
           <li class="list-group-item">Bookstore</li> 
           <li class="list-group-item">Eateries</li> 
           <li class="list-group-item">Supermarket and Shopping Malls</li> 
           <li class="list-group-item">Giftshops</li> 
           <li class="list-group-item">Gymnasium</li> 
           <li class="list-group-item">Pharmacy</li> 
           <li class="list-group-item">Recreational Clubs</li> 
        </ul><br>
    </p>
    
</div>
{% endblock  %}